table {
  table-layout: fixed;
  border-collapse: collapse;
  width:100%;
}

th,td{
  padding:20px;
}

.filterTextBox {
  height:25px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid white;
}
.columnHeader{
  font-size: 12px;
  height: 45px;
  color: white;
  background-color: #607085;
  font-family: 'Lato', sans-serif;
  padding: 10px 20px;
  width:600px;
  border: 1px solid white;
  text-align: left;
  
}
.trSeparator{
  border-bottom: 1px solid #607085;
  
}
.columnCell {
  padding: '5px 5px 5px 15px';
}

.filterHeader {
  width:260px;
  height: auto;
}
.filterHeaderLabel {
  padding-right: 10px;
}
.up-arrow {
  cursor: pointer;
  /* height: 10px; */
}

.down-arrow {
  cursor: pointer;
}
