table {
  table-layout: fixed;
  border-collapse: collapse;
  width:100%;
}

th,td{
  padding:20px;
  font-family: 'Lato', sans-serif;
  
}

.filterTextBox {
  height:35px;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid white;
}
.columnHeader{
  font-size: 12px;
  height: 45px;
  color: white;
  background-color: #607085;
   
  width:600px;
  border: 1px solid white;
  text-align: left;
  
}
.trSeparator{
  border-bottom: 1px solid #607085;
  
}
.columnCell {
  padding: '5px 5px 5px 15px';
}

.filterHeader {
  width:260px;
  height: auto;
}
.filterHeaderLabel {
  padding-right: 10px;
}
.sortButtonsContainer {
  width: 15px;
  float: left;
  margin-right: 10px;
  
}

.sortButton{
  width: 15px;
  border: none;
  /* background-color:#607085; */
  background-color:transparent;
}

.buttonsAndLabel {
  /* height:45px;
  width:80px;
  border:1px solid black;*/
  display: flex; 
  align-items: center;
}